<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="false">
    <mat-toolbar color="primary">OPUS</mat-toolbar>

    <div *ngFor="let nav of navigation">
      <div class="nav-header">
        <div>{{nav.name}}</div>
        <div *ngIf=opusFolderAvailable>
          <!-- <button mat-icon-button>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button> -->
        </div>
      </div>
      <mat-nav-list>
        <a *ngFor="let secondNav of nav.secondLevelNavigation" mat-list-item href="{{nav.name+'/'+secondNav.id}}">{{secondNav.name}}</a>
      </mat-nav-list>
    </div>


    <div class="nav-header">Settings</div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/integrations']">Integrations</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <span>OPUS</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
