<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="false">
    <mat-toolbar color="primary">OPUS</mat-toolbar>
    <div class="nav-header">Images</div>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
    </mat-nav-list>
    <div class="nav-header">First and then</div>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
    </mat-nav-list>
    <div class="nav-header">Flow</div>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
    </mat-nav-list>
    <div class="nav-header">Settings</div>
    <mat-nav-list>
      <a mat-list-item href="integrations">Integrations</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>OPUS</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
